h1{
    font-weight:bolder; text-align: center; color:darkslategray}

h2,h3 {
color: darkblue; font-family: fantasy; text-align: center; font-weight:bold
    
    
}
.italicfont {font-style: italic;
                font-weight:bold}

#linkid {
font-style:italic; font-weight: bold; font-family: serif; color:brown
}

h1 { 
    
    border: 10px solid darkblue; border-radius: 12px;
    padding: 20px 25px; 
    margin: 20px 15px}

img {
   display: block;
    margin-left:auto;
    margin-right:auto; 
    
}


.body-style {
    background-color:rgb(95,158,160,0.3);
}


